[user]
	name = Kyle Manna
	email = kyle@kylemanna.com

[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto

[push]
	default = simple

[log]
	decorate = short
[core]
	filemode = true
[grep]
	lineNumber = 1
[help]
	autocorrect = 1
