[user]
    name = Kyle Manna
    email = kyle@kylemanna.com

[color]
    diff = auto
    status = auto
    branch = auto
    ui = auto

[log]
    decorate = short
[core]
    filemode = true
[grep]
    lineNumber = 1
[help]
    autocorrect = 1
[push]
    default = current
[pull]
    ff = only
[submodule]
    recurse = true
    fetchJobs = 8
[fetch]
    parallel = 8
[init]
    defaultBranch = main

# Avoid using `git lfs` at all costs. Sadness follows some time later
#[filter "lfs"]
#	clean = git-lfs clean -- %f
#	smudge = git-lfs smudge -- %f
#	process = git-lfs filter-process
#	required = true

# Config for git-delta
#
#[core]
#    # Don't set pager because not all machines have this, check then set GIT_PAGER in shell
#    pager = delta
#[interactive]
#    # TODO figure out to do this if delta is avaialable
#    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    # For some reason the dark greens are nearly grey and impossible to see.
    true-color = never
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
# End git-delta config
